body{
    background-color: rgba(0, 0, 0, 0.87);
    color: rgb(255, 243, 224);
}

h1{
    text-align: center;
}

.divMedia{
    margin-bottom: 30px;
    padding: 1%;
    background-color: rgba(37, 37, 37, 0.87);
    display: flex;
    align-items: center;
    width: 71%;
    height: 225px;
    margin-left:auto;
    margin-right:auto;
}
.divMedia:hover{
    background-color: rgba(69, 69, 69, 0.87);
    cursor: pointer;
}

.divLeft{
    display: flex;
    align-items: center;
    width: 50%;
}

.divMiddle{
    width: 20%;
    height: 100%;
}

.divRight{
    width: 30%;
}

.divMiddle button{
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: rgb(255, 243, 224);
    font-size: 120%;
    font-weight: 1000;
}
.deleteBtn{
    background-color: rgba(182, 0, 0, 0.75);
}
.seenBtn{
    background-color: rgba(10, 194, 0, 0.873)
}

.poster{ 
    width: 150px;
    height: 225px;
}

.titoloMedia{ 
    font-size: 150%;
    margin-left: 40px;
}

.provider{
    width: 70px;
    padding: 5px;
    float: right;
}

p{
    font-size: 150%;
}

#logoff{
    background-color: rgba(191, 25, 0, 0.882);
    border: none;
    font-size: large;
    color: rgb(255, 251, 245);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    bottom: 5px;
    float: right;
    position: sticky;
}