body{
    background-color: rgba(0, 0, 0, 0.87);
    color: rgb(255, 243, 224);
}

h1{
    text-align: center;
    font-size: 4vw;
}
h3{
    text-align: center;
    font-size: 1.3vw;
}

form{
    text-align: center;
    font-size: larger;
    font-size: 2vw;
}
input{
    width: 15vw;
    height: 1.5vw;
    border: none;
}

#username{
    font-size: 1.15vw;
}


#submitBtn{
    width: 6.5vw;
    height: 3vw;
    font-size: 1.15vw;
    background-color: rgba(131, 109, 0, 0.882);
    border: none;
    color: rgb(255, 251, 245);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}